dl/core/express/ignore.go
template/old
*.zip
notes
.vscode
ephemera/cmd/parse
ephemera/cmd/stem
assembly/debug.test
cmd/asm/asm
cmd/atlas/atlas
cmd/compose/compose
cmd/import/import
cmd/play/play
cmd/spec/spec
cmd/spec/spec.js
cmd/stem/stem
