
.em-gutter--digi {
  border-right: 3px double rgb(239, 207, 173); 
}

.em-row--ghost {
  color: grey;
  white-space:nowrap;
  user-select: none;
}

.em-shift .em-row--inline.em-row--ghost  {
  display: inline;
}

.mk-flow-ctrl[data-tag="comment"] .mk-plain-text{
  font-weight: bold;
}

.mk-flow-ctrl[data-tag="comment"] .mk-txt-lines {
  font-style: italic;
}