
.em-gutter--digi {
  border-right: 3px double rgb(239, 207, 173); 
}

.em-row--ghost {
  color: grey;
  white-space:nowrap;
  user-select: none;
}

.em-shift .em-row--inline.em-row--ghost  {
  display: inline;
}

.mk-flow-ctrl[data-tag="comment"] .mk-plain-text {
  font-weight: bold;
}

.mk-flow-ctrl[data-tag="comment"] .mk-txt-lines {
  color: #0b8400; /*green*/
  font-style: italic;
}
.mk-slot-ctrl[data-tag="execute"] {
  font-family: "Fira Code", "Courier New", monospace;
  font-size: 12px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0px 5px;
  border-top-width: 0;
}

.mk-num-ctrl {
  color:rgb(160, 90, 0); /*brown*/
}
.mk-str-ctrl[data-tag="text"] {
  color: #0b8400; /*green*/ 
}
.mk-str-ctrl[data-tag="variable_name"] {
  color: rgb(177,0,177); /*purple*/
}
/* role: ENUM */
.mk-flow-param[data-role="E"] {
  color: black; 
}
/* role: CMD */
.mk-flow-param[data-role="C"] {
  color:rgb(0, 102, 214);   /* blue*/
  font-style: bold;
  font-size: larger;
} 
.mk-flow-param[data-role="F"] {
  color:rgb(0, 102, 214);   /* blue*/
  font-style: bold;
}
/* role: SEPARATOR */
.mk-flow-param[data-role="Z"] {
  color:black; /**/
}
/* role: TERMINAL */
.mk-flow-param[data-role="T"] {
  color:black; /**/
}
/* role: SELECTOR, TOKEN, FUNCTION */
.mk-flow-param[data-role="S"],
.mk-flow-param[data-role="K"] {
  color:#c90000;
}
/* role: AMBIGUOUS */
.mk-flow-param[data-role="Q"] {
  color: orange; 
}
