{
  "id": "id-a-2",
  "type": "story",
  "value": {
    "$PARAGRAPH": [
      {
        "id": "id-1743be614da-3",
        "type": "paragraph",
        "value": {
          "$STORY_STATEMENT": [
            {
              "id": "id-173f8fba4ff-12",
              "type": "story_statement",
              "value": {
                "id": "id-173f8fba4ff-13",
                "type": "kinds_possess_properties",
                "value": {
                  "$PLURAL_KINDS": {
                    "id": "id-173f8fba4ff-14",
                    "type": "plural_kinds",
                    "value": " things"
                  },
                  "$PROPERTY_DECL": [
                    {
                      "id": "id-17669095400-6",
                      "type": "property_decl",
                      "value": {
                        "$AN": {
                          "id": "id-17669095400-7",
                          "type": "determiner",
                          "value": "$A"
                        },
                        "$PROPERTY": {
                          "id": "id-17669095400-8",
                          "type": "property",
                          "value": "printed plural name"
                        },
                        "$PROPERTY_TYPE": {
                          "id": "id-17669095400-9",
                          "type": "property_type",
                          "value": {
                            "$PRIMITIVE": {
                              "id": "id-17668e9a683-3",
                              "type": "primitive_type",
                              "value": "$TEXT"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          ]
        }
      },
      {
        "id": "id-1748e116bbd-6",
        "type": "paragraph",
        "value": {
          "$STORY_STATEMENT": [
            {
              "id": "id-1748e116bbd-5",
              "type": "story_statement",
              "value": {
                "id": "id-1748e116bbd-2",
                "type": "pattern_decl",
                "value": {
                  "$NAME": {
                    "id": "id-1748e116bbd-3",
                    "type": "pattern_name",
                    "value": "print plural name"
                  },
                  "$OPTVARS": {
                    "id": "id-1748e116bbd-8",
                    "type": "pattern_variables_tail",
                    "value": {
                      "$VARIABLE_DECL": [
                        {
                          "id": "id-1748e116bbd-9",
                          "type": "variable_decl",
                          "value": {
                            "$AN": {
                              "id": "id-17672fb43de-14",
                              "type": "determiner",
                              "value": "a"
                            },
                            "$NAME": {
                              "id": "id-1748e116bbd-11",
                              "type": "variable_name",
                              "value": "target"
                            },
                            "$TYPE": {
                              "id": "id-1748e116bbd-10",
                              "type": "variable_type",
                              "value": {
                                "$OBJECT": {
                                  "id": "id-1748e116bbd-12",
                                  "type": "object_type",
                                  "value": {
                                    "$AN": {
                                      "id": "id-1748e116bbd-13",
                                      "type": "ana",
                                      "value": "$A"
                                    },
                                    "$KIND": {
                                      "id": "id-1748e116bbd-14",
                                      "type": "singular_kind",
                                      "value": "thing"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  },
                  "$TYPE": {
                    "id": "id-1748e116bbd-4",
                    "type": "pattern_type",
                    "value": {
                      "$ACTIVITY": {
                        "id": "id-1748e116bbd-7",
                        "type": "patterned_activity",
                        "value": "$ACTIVITY"
                      }
                    }
                  }
                }
              }
            },
            {
              "id": "id-17494873906-31",
              "type": "story_statement",
              "value": {
                "id": "id-17494873906-29",
                "type": "comment",
                "value": {
                  "$LINES": {
                    "id": "id-17494873906-30",
                    "type": "lines",
                    "value": "It says the plural of the target's name. "
                  }
                }
              }
            },
            {
              "id": "id-1748e116bbd-18",
              "type": "story_statement",
              "value": {
                "id": "id-1748e116bbd-15",
                "type": "pattern_actions",
                "value": {
                  "$NAME": {
                    "id": "id-1748e116bbd-16",
                    "type": "pattern_name",
                    "value": "print plural name"
                  },
                  "$PATTERN_RULES": {
                    "id": "id-1748e116bbd-17",
                    "type": "pattern_rules",
                    "value": {
                      "$PATTERN_RULE": [
                        {
                          "id": "id-1748e116bbd-19",
                          "type": "pattern_rule",
                          "value": {
                            "$GUARD": {
                              "id": "id-1748e116bbd-20",
                              "type": "bool_eval",
                              "value": {
                                "id": "id-1748e116bbd-22",
                                "type": "always",
                                "value": {}
                              }
                            },
                            "$HOOK": {
                              "id": "id-1748e116bbd-21",
                              "type": "program_hook",
                              "value": {
                                "$ACTIVITY": {
                                  "id": "id-1748e116bbd-23",
                                  "type": "activity",
                                  "value": {
                                    "$EXE": [
                                      {
                                        "id": "id-1748e116bbd-24",
                                        "type": "execute",
                                        "value": {
                                          "id": "id-1748e116bbd-25",
                                          "type": "say_text",
                                          "value": {
                                            "$TEXT": {
                                              "id": "id-1748e116bbd-26",
                                              "type": "text_eval",
                                              "value": {
                                                "id": "id-1748e116bbd-27",
                                                "type": "pluralize",
                                                "value": {
                                                  "$TEXT": {
                                                    "id": "id-1748e116bbd-28",
                                                    "type": "text_eval",
                                                    "value": {
                                                      "id": "id-1748e116bbd-29",
                                                      "type": "render_template",
                                                      "value": {
                                                        "$TEMPLATE": {
                                                          "id": "id-1748e116bbd-30",
                                                          "type": "lines",
                                                          "value": "{.target}"
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        },
                        {
                          "id": "id-17494737044-12",
                          "type": "pattern_rule",
                          "value": {
                            "$GUARD": {
                              "id": "id-174961e21ae-2",
                              "type": "bool_eval",
                              "value": {
                                "id": "id-17494737044-15",
                                "type": "compare_text",
                                "value": {
                                  "$A": {
                                    "id": "id-17494737044-16",
                                    "type": "text_eval",
                                    "value": {
                                      "id": "id-17494737044-23",
                                      "type": "get_field",
                                      "value": {
                                        "$FIELD": {
                                          "id": "id-17669095400-10",
                                          "type": "text",
                                          "value": "printed plural name"
                                        },
                                        "$OBJECT": {
                                          "id": "id-17494737044-25",
                                          "type": "object_eval",
                                          "value": {
                                            "id": "id-17494737044-28",
                                            "type": "get_var",
                                            "value": {
                                              "$NAME": {
                                                "id": "id-17494737044-30",
                                                "type": "text",
                                                "value": "target"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "$B": {
                                    "id": "id-17494737044-18",
                                    "type": "text_eval",
                                    "value": {
                                      "id": "id-17494737044-32",
                                      "type": "text_value",
                                      "value": {
                                        "$TEXT": {
                                          "id": "id-17494737044-33",
                                          "type": "text",
                                          "value": "$EMPTY"
                                        }
                                      }
                                    }
                                  },
                                  "$IS": {
                                    "id": "id-17494737044-17",
                                    "type": "comparator",
                                    "value": {
                                      "id": "id-17494737044-31",
                                      "type": "unequal",
                                      "value": {}
                                    }
                                  }
                                }
                              }
                            },
                            "$HOOK": {
                              "id": "id-17494737044-14",
                              "type": "program_hook",
                              "value": {
                                "$ACTIVITY": {
                                  "id": "id-17494737044-34",
                                  "type": "activity",
                                  "value": {
                                    "$EXE": [
                                      {
                                        "id": "id-17494873906-2",
                                        "type": "execute",
                                        "value": {
                                          "id": "id-17494873906-0",
                                          "type": "say_text",
                                          "value": {
                                            "$TEXT": {
                                              "id": "id-17494873906-1",
                                              "type": "text_eval",
                                              "value": {
                                                "id": "id-17494873906-3",
                                                "type": "render_template",
                                                "value": {
                                                  "$TEMPLATE": {
                                                    "id": "id-17494873906-4",
                                                    "type": "lines",
                                                    "value": "{.target.printed_plural_name}"
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          ]
        }
      },
      {
        "id": "id-17494a3a882-4",
        "type": "paragraph",
        "value": {
          "$STORY_STATEMENT": [
            {
              "id": "id-17494a3a882-3",
              "type": "story_statement",
              "value": {
                "id": "id-17494a3a882-0",
                "type": "test_scene",
                "value": {
                  "$STORY": {
                    "id": "id-17494a3a882-2",
                    "type": "story",
                    "value": {
                      "$PARAGRAPH": [
                        {
                          "id": "id-17494a3a882-22",
                          "type": "paragraph",
                          "value": {
                            "$STORY_STATEMENT": [
                              {
                                "id": "id-17494a3a882-21",
                                "type": "story_statement",
                                "value": {
                                  "id": "id-17494a3a882-17",
                                  "type": "noun_statement",
                                  "value": {
                                    "$LEDE": {
                                      "id": "id-17494a3a882-18",
                                      "type": "lede",
                                      "value": {
                                        "$NOUNS": [
                                          {
                                            "id": "id-17494a3a882-23",
                                            "type": "named_noun",
                                            "value": {
                                              "$DETERMINER": {
                                                "id": "id-17494a3a882-24",
                                                "type": "determiner",
                                                "value": "$THE"
                                              },
                                              "$NAME": {
                                                "id": "id-17494a3a882-25",
                                                "type": "noun_name",
                                                "value": "flowerpot"
                                              }
                                            }
                                          },
                                          {
                                            "id": "id-17494a3a882-26",
                                            "type": "named_noun",
                                            "value": {
                                              "$DETERMINER": {
                                                "id": "id-17494a3a882-28",
                                                "type": "determiner",
                                                "value": "$THE"
                                              },
                                              "$NAME": {
                                                "id": "id-17494a3a882-29",
                                                "type": "noun_name",
                                                "value": "dishes"
                                              }
                                            }
                                          },
                                          {
                                            "id": "id-17494ab71d0-9",
                                            "type": "named_noun",
                                            "value": {
                                              "$DETERMINER": {
                                                "id": "id-17494ab71d0-11",
                                                "type": "determiner",
                                                "value": "$THE"
                                              },
                                              "$NAME": {
                                                "id": "id-17494ab71d0-12",
                                                "type": "noun_name",
                                                "value": "spoon"
                                              }
                                            }
                                          }
                                        ],
                                        "$NOUN_PHRASE": {
                                          "id": "id-17494a3a882-20",
                                          "type": "noun_phrase",
                                          "value": {
                                            "$KIND_OF_NOUN": {
                                              "id": "id-17494a3a882-30",
                                              "type": "kind_of_noun",
                                              "value": {
                                                "$ARE_AN": {
                                                  "id": "id-17494a3a882-31",
                                                  "type": "are_an",
                                                  "value": "$ARE"
                                                },
                                                "$KIND": {
                                                  "id": "id-17494a3a882-32",
                                                  "type": "singular_kind",
                                                  "value": "thing"
                                                },
                                                "$TRAIT": []
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "$TAIL": []
                                  }
                                }
                              },
                              {
                                "id": "id-17494ab71d0-5",
                                "type": "story_statement",
                                "value": {
                                  "id": "id-17494ab71d0-1",
                                  "type": "noun_assignment",
                                  "value": {
                                    "$LINES": {
                                      "id": "id-17494ab71d0-4",
                                      "type": "lines",
                                      "value": "broken flower pots"
                                    },
                                    "$NOUNS": [
                                      {
                                        "id": "id-17494ab71d0-3",
                                        "type": "named_noun",
                                        "value": {
                                          "$DETERMINER": {
                                            "id": "id-17494ab71d0-7",
                                            "type": "determiner",
                                            "value": "$THE"
                                          },
                                          "$NAME": {
                                            "id": "id-17494ab71d0-8",
                                            "type": "noun_name",
                                            "value": "flowerpot"
                                          }
                                        }
                                      }
                                    ],
                                    "$PROPERTY": {
                                      "id": "id-17494ab71d0-2",
                                      "type": "property",
                                      "value": "printed plural name"
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      ]
                    }
                  },
                  "$TEST_NAME": {
                    "id": "id-17494a3a882-1",
                    "type": "test_name",
                    "value": "plural name printing"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "id": "id-17494ab71d0-17",
        "type": "paragraph",
        "value": {
          "$STORY_STATEMENT": [
            {
              "id": "id-17494ab71d0-16",
              "type": "story_statement",
              "value": {
                "id": "id-17494ab71d0-13",
                "type": "test_statement",
                "value": {
                  "$TEST": {
                    "id": "id-17494ab71d0-15",
                    "type": "testing",
                    "value": {
                      "id": "id-17494ab71d0-18",
                      "type": "test_output",
                      "value": {
                        "$LINES": {
                          "id": "id-17494ab71d0-19",
                          "type": "lines",
                          "value": "broken flower pots, dishes, spoons"
                        }
                      }
                    }
                  },
                  "$TEST_NAME": {
                    "id": "id-17494ab71d0-14",
                    "type": "test_name",
                    "value": "plural name printing"
                  }
                }
              }
            },
            {
              "id": "id-17494ab71d0-27",
              "type": "story_statement",
              "value": {
                "id": "id-17494ab71d0-24",
                "type": "test_rule",
                "value": {
                  "$HOOK": {
                    "id": "id-17494ab71d0-26",
                    "type": "program_hook",
                    "value": {
                      "$ACTIVITY": {
                        "id": "id-17494ab71d0-28",
                        "type": "activity",
                        "value": {
                          "$EXE": [
                            {
                              "id": "id-17494ab71d0-31",
                              "type": "execute",
                              "value": {
                                "id": "id-17494ab71d0-29",
                                "type": "say_text",
                                "value": {
                                  "$TEXT": {
                                    "id": "id-17494ab71d0-30",
                                    "type": "text_eval",
                                    "value": {
                                      "id": "id-17494ab71d0-32",
                                      "type": "render_template",
                                      "value": {
                                        "$TEMPLATE": {
                                          "id": "id-17494ab71d0-33",
                                          "type": "lines",
                                          "value": "{print_plural_name: .flowerpot}, {print_plural_name: .dishes}, {print_plural_name: .spoon}"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  },
                  "$TEST_NAME": {
                    "id": "id-17494ab71d0-25",
                    "type": "test_name",
                    "value": "$CURRENT_TEST"
                  }
                }
              }
            }
          ]
        }
      }
    ]
  }
}