.em-table {
  padding-left: 2em;
}
.em-table__footer {
  height: 0.5em;
}
.em-item {
  display: flex;
}
.em-gutter {
  position: relative;
  margin-right: 0.5ch;
  user-select: none;
  cursor: grab;
}
.em-num {
  position: absolute;
  width: 100%;
  top: 0;
  text-align: right;
}
.em-len {
  visibility: hidden;
}
.em-item:not(.em-drag-mark) > .em-gutter {
  color: grey;
  background-color: whitesmoke;
}
.em-item--head {
  box-shadow:inset 0px 3px rgba(0,0,0,0.6);
}
.em-item--tail {
  box-shadow:inset 0px -3px rgba(0,0,0,0.6);
}
/* dragEnter adds, dragLeave removes */
.em-item--head, .em-item--tail, .em-item--body {
  background-color: lightblue/* !important*/;
  transition: background-color 0.25s ease;
}
.em-drag-image {
  color: grey;
  background-color: silver;
}
.flip-list-move {
  transition: transform 0.5s;
}