.table {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto; 
}
.handle {
  background-color: whitesmoke;
  color: grey;
  width: 100%;
  text-align: right;
}
.dragimg {
  position: absolute;;
  left:0;
  top:0;
  width: 40px; 
  height: 40px; 
  background: red;
}