.em-row--block {
  display: flex;
}
.em-row--inline {
  display: inline;
}
.em-gutter {
  color: rgb(239, 207, 173);
  font-weight: bold;
  display: inline-block;
  position: relative;
  cursor: default;
}
.em-gutter > div[draggable="true"] {
  cursor: grab;
}
.em-gutter--digi {
  white-space: pre;
  text-align: right;
  margin-right: 0.5ch;
}
/** shift key turns inline gutters on and off **/
.em-gutter--grip {
  display: none;
}
.em-shift .em-gutter--grip {
  display: inline-block;
}
.em-gutter--grip {
  text-align: center;
  font-size: small;
  color: black;
  /*background-color: blue;*/
  margin-right: 0.5ch;
  margin-left: 0.5ch;
  line-height: 15px;
  border: outset;
}
.em-gutter.em-gutter--unfilled {
  background-color: inherit;
  border: 1px solid black;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.em-num {
  position: absolute;
  top: 0;
  width: 100%;
}
.em-max {
  visibility: hidden;
}
.em-row__header--inline, .em-row__footer--inline  {
  display: inline;
}
.em-row__header--inline, .em-row__footer--inline {
  min-width: 1ch;
}

/* dragEnter adds, dragLeave removes */
.em-drag-highlight  {
  box-shadow:inset 0px 3px rgba(0,0,0,0.2);
  background-color: lightblue;
  transition: background-color 0.25s ease;
}

.em-drag-image {
  color: grey;
  background-color: silver;
  border: 3px solid white;
  max-width: 300px;
  font-size: x-small;
}
